extends layout

block content

    h2 #{store.name}
    p #{store.description}
    img(src=`/uploads/${store.photo || 'store.png'}`, alt="")
    p #{store.tags}
    
    
    //- TO DISPLAY LOCATION 
    //- p #{store.location.address}
    //- img.single__map(src=h.staticMap(store.location.coordinates))